body {
  font-family: sans-serif;
  margin: 0;
}

/*---------top section---------*/

.delecious-food-image {
  background-image: url("../Images/hero_2.jpg");
  height: calc(75vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.logo a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 4px;
}

.navbar1 {
  position: relative;
}

.color {
  color: white;
  opacity: 0.8;
  font-size: 10px;
}

.color:hover {
  color: white;
}

.col_hov:hover {
  background-color: red !important;
  color: white;
}

.dropdown-item {
  font-size: 15px;
}

.contact button {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 10px;
  outline: 0;
  letter-spacing: 1px;
}

.contact button:hover {
  background-color: white;
  color: red;
}

.image-text h1 {
  font-size: 35px;
  font-weight: 700;
  position: relative;
  animation: moving 1s;
  color: white;
}

@keyframes moving {
  from {
    top: 50px;
  }

  to {
    top: 0px;
  }
}

/*---------middle section1---------*/


.blog {
  display: flex;
  margin-bottom: 22px;

}

.date1 {
  display: inline-flex;
  margin-bottom: 12px;

}

.dishMatter button {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-size: 10px;
  outline: 0;
}

.paramarigin {
  margin-bottom: 12px;
}

.dishMatter {
  width: 169px;
  height: 201px;
  padding: 13px 0px 0px 20px;
  background-color: white;
}

.dishMatter h4 {
  color: #736c6c;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 3px;
}

.date1 p {
  margin: 0px 0px 0px 3px;
  font-size: 13px;
}

.dishMatter p {
  color: #9da8b3;
  font-size: 12px;

}

/*---------contact part---------*/

.contactPart {
  background-color: #0c0c0ce3;
  padding: 50px;
}

.about {
  color: white;
  font-size: 15px;
  padding-left: 23%;
  margin-bottom: 0px;
  font-weight: bold;
}

.paragraph1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  padding: 6% 0 0 23%;
  line-height: 1.7;
}

.icons {
  font-size: 17px;
  color: #cf1d16;
  margin: 12% 0 0 22%;

}

.facebook,
.linkedin,
.instagram,
.twitter {
  width: 10%;
  margin-left: 2%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.contact1 {
  margin-top: 37px;
  font-weight: bold;
}

.time1 {
  color: grey;
  font-size: 15px;
  margin-left: 5%;
}

.duration,
.week1 {
  font-weight: bold;
}

.content1,
.contact1,
.duration {
  color: white;
  font-size: 15px;
  margin-left: 5%;
}

.content2,
.week1 {
  color: grey;
  font-size: 15px;
  margin: 5% 0 0 5%;
}

.quickLinks {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.links1 {
  text-decoration: none;
  color: #cf1d16;
  font-size: 12px;
}

.copyright {
  text-align: center;
  color: grey;
  font-size: 15px;
  margin-top: 60px;
}

.heart {
  color: #928a8a;
}

.links1:hover {
  color: white;
}

.facebook:hover,
.linkedin:hover,
.instagram:hover,
.twitter:hover {
  background-color: white;
  color: black;
}

#vbts {
  text-decoration: none;
  color: red;
}

#vbts:hover {
  color: white;
  text-decoration: underline;
}
