body {
  font-family: sans-serif;
  margin: 0;
}

.myHomeSlides {
  display: none;
}

.homeSlideshow-container {
  max-width: calc(100vw);
  position: relative;
  margin: auto;
}

.prev,
.next {
  width: auto;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  opacity: 0.3;
  font-size: 40px;
  transition: 0.6s ease;
  cursor: pointer;
}


.next {
  right: 0;
}

.dots{
  position: absolute; 
  top: 84%; 
  left: 49%;
}
.dot1 {
  width: 12px;
  height: 12px;
  background-color: #e3e3e3;
  margin: 0px 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  outline: 0;
  cursor: pointer;
}

.dot1:hover {
  background-color: grey;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}


/*-------------CAROUSEL CONTENT----------------*/

.expert-chefs-image,
.delecious-food-image {
  height: calc(100vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.expert-chefs-image {
  background-image: url('../Images/hero_1.jpg');
}

.delecious-food-image {
  background-image: url('../Images/hero_2.jpg');
}

.image-text {
  color: white;
  position: relative;
  animation: moving 1s;
}

@keyframes moving {
    from {top: 50px;}
    to {top: 0px;}
}

.image-text p {
  color: #cecccc;
  font-size: 15px;
  line-height: 1.5;
}

.image-text h1 {
  font-size: 27px;
  font-weight: 800;
}

.image-text button {
  margin-top: 20px;
  border: 2px solid white;
  display: inline-block;
  padding: 8px 20px;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.image-text button:hover {
  background-color: white;
  color: black;
}

.logo a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 4px;
}

..navbar1 {
  position: relative;
}

.color {
  color: white;
  opacity: 0.8;
  font-size: 10px;
}

.color:hover {
  color: white;
  background-color: transparent !important;
}

.col_hov:hover {
  background-color: red !important;
  color: white;
}

.dropdown-item {
  font-size: 15px;
}

.contact button {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 12px;
  outline: 0;

}

.contact button:hover {
  background-color: white;
  color: red;
}

/*--------------sub1----------*/

.sub1 {
  background-color: #c1c1c154;
  position: relative;
  animation: moving 1s;
}

@keyframes moving {
    from {top: 50px;}
    to {top: 0px;}
}
.menu {
  display: block;
  text-align: center;
  padding: 70px 10px;

}

.menu1 {
  color: #cf1d16;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 30px 0px;
}

.menu2 {
  color: #9da8b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

/*---------sub2----------*/

.headings {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 10px 0px 0px;
}

.subheading {
  text-align: center;
  color: #e3e3e3;
  font-size: 150px;
  font-weight: 800;
  word-wrap: break-word;
}

.dishes {
  position: relative;
  bottom: 69px;
}

.carousel-indicators {
  position: absolute;
  bottom: 80px;
}

.carousel-indicators li,
.carousel-indicators .active {
  width: 6px;
  height: 6px;
  border: 2px solid darkgrey;
}

.carousel-indicators .active {
  background-color: red;
}

.text {
  text-align: center;
  position: relative;
  bottom: 200px;
  color: white;
  font-size: 15px;
  font-weight: 800;
}

.item button {
  display: block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 1px solid red;
  background-color: red;
  color: white;
  position: relative;
  left: 128px;
  bottom: 218px;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
}

.item button:hover {
  background-color: transparent;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 700;
}

.item.active,
.item.active + .item,
.item.active + .item + .item {
  width: 33.3%;
  display: block;
  float: left;
}

.dish1{

  border: 1px solid transparent;
  overflow: hidden;
}

.dish1 img{

  max-width: 100%;
  transition: all 0.3s;
}

.dish1:hover img{

  transform: scale(1.2);
}


/*------------sub3-----------------*/

.sub3 {
  background-color: #c1c1c154;
  position: relative;
  animation: moving 1s;
}

@keyframes moving {
    from {top: 50px;}
    to {top: 0px;}
}

.special {
  position: relative;
  bottom: 153px;
}

.dishMatter1 {
  background-color: white;
  padding: 43px;
}

.dishMatter1 h3 {
  color: #cf1d16;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.dishMatter1 p {
  color: #9da8b3;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.dishMatter1 h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;

}


/*---------------sub4--------------*/

.sub4 {
  position: relative;
  animation: moving 1s;
}

@keyframes moving {
    from {top: 50px;}
    to {top: 0px;}
}

.testimonialInfo {
  position: relative;
  bottom: 81px;
}

.testimonial {
  font-size: 20px;
  color: #5a5555;
}

.testimonial h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.testimonial p {
  color: black;
  font-size: 19px;
  line-height: 1.8;
}

.chefsInfo1 {
  padding-top: 15px;
}

.chefsInfo p {
  color: #bfc2c5;
}

.chefsInfo {
  margin-left: -17px;
}

/*----------------sub5----------------*/

.blog {
  display: flex;
  margin-bottom: 22px;
}

.middlePart {
  position: relative;
  bottom: 80px;
}

.date1 {
  display: inline-flex;
  margin-bottom: 12px;
}

.dishMatter button {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-size: 10px;
  outline: 0;
}

.paramarigin {
  margin-bottom: 12px;
}

.dishMatter {
  padding: 13px 5px 0px 20px;
  background-color: white;
}

.dishMatter h4 {
  color: #736c6c;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 3px;
}

.date1 p {
  margin: 0px 0px 0px 3px;
  font-size: 13px;
}

.dishMatter p {
  color: #9da8b3;
  font-size: 12px;

}

/*-----------sub6------------*/

.sub6 {
  background-color: #c1c1c154;
  text-align: center;
  padding: 45px;
}

.sub6 p {
  color: #9da8b3;
  font-size: 12px;
  line-height: 0.5;
  text-align: center;
  margin-bottom: 15px;
}

.sub6 h2 {
  color: black;
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 10px;
}

.sub6 button {
  border: 1px solid transparent;
  background-color: #cf1d16;
  color: white;
  padding: 8px 26px;
  font-size: 10px;
  outline: 0;
  letter-spacing: 2px;
}

input {
  width: 276px;
  padding: 8px 16px;
  border: 2px solid #ced4da;
  font-size: 12px;
  margin-right: 16px;
}


/*-----------contact part-----------*/

.contactPart {
  background-color: #0c0c0ce3;
  padding: 50px;
}

.about {
  color: white;
  font-size: 15px;
  padding-left: 23%;
  margin-bottom: 0px;
  font-weight: bold;
}

.paragraph1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  padding: 6% 0 0 23%;
  line-height: 1.7;
}

.icons {
  font-size: 17px;
  color: #cf1d16;
  margin: 12% 0 0 22%;

}

.facebook,
.linkedin,
.instagram,
.twitter {
  width: 10%;
  margin-left: 2%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.contact1 {
  margin-top: 37px;
  font-weight: bold;
}

.time1 {
  color: grey;
  font-size: 15px;
  margin-left: 5%;
}

.duration,
.week1 {
  font-weight: bold;
}

.content1,
.contact1,
.duration {
  color: white;
  font-size: 15px;
  margin-left: 5%;
}

.content2,
.week1 {
  color: grey;
  font-size: 15px;
  margin: 5% 0 0 5%;
}

.quickLinks {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.links1 {
  text-decoration: none;
  color: #cf1d16;
  font-size: 12px;
}

.copyright {
  text-align: center;
  color: grey;
  font-size: 15px;
  margin-top: 60px;
}

.heart {
  color: #928a8a;
}

.links1:hover {
  color: white;
}

.facebook:hover,
.linkedin:hover,
.instagram:hover,
.twitter:hover {
  background-color: white;
  color: black;
}

#vbts {
  text-decoration: none;
  color: red;
}

#vbts:hover {
  color: white;
  text-decoration: underline;
}
